body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.post {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.post-content {
    font-size: 18px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}